.Button {
    background: var(--highlight-color);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
    width: 100%;
    color: var(--white-color);
    font-weight: bold;
    font-size: 1em;
    cursor: pointer;

    &:hover {
        transform: scale(1.02);
    }
}