.Header {
    position: sticky;
    top: 0;
    background: var(--primary-color);
    color: var(--white-color);
    height: 10vh;
  
    display: grid;
    grid-template-columns: max-content 1fr max-content;
    gap: 40px;
    font-size: 1.1em;
    align-items: center;
    z-index: 1;

    h1 {
        font-size: 1.5em;
        font-weight: bold;
        margin: 0;
    }

    .NavigationContainer {
        display: none;
        justify-self: end;
      }
    
      @media (min-width: 900px) {
        padding-left: 20px;
    
        .MenuContainer {
          display: none;
        }
    
        .NavigationContainer {
          display: initial;
        }
    }
}